.nav {
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
}

.nav_container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.nav_multilevel_hidden {
  opacity: 0;
  visibility: hidden;
}

.nav_multilevel_visible {
  opacity: 1;
  visibility: visible;
}

.nav ul {
  position: absolute;
  transition: 0.3s;
}

.nav_title {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.nav_list_item,
.nav_list_item * {
  line-height: 1.5;
  text-decoration: none;
}

.nav_list_item a:hover {
  text-decoration: underline;
}

.nav_list {
  list-style-type: none;
}
